<h1>Welcome to funzoHub</h1>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <p class="lead">
      We offer a wide variety of courses on a variety of topics, from business
      and marketing to technology and personal development. Our courses are
      taught by experienced instructors who are passionate about their subject
      matter.
    </p>
    <p class="lead">
      We believe that online learning is the future of education, and we're
      committed to providing our learners with the best possible experience. Our
      courses are designed to be engaging and interactive, and we offer a
      variety of tools and resources to help our learners succeed.
    </p>
    <p class="lead">
      We're also committed to providing our learners with the support they need.
      Our team of experts is available to answer your questions and help you get
      the most out of your online learning experience.
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <img src="/img/community.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid rounded" loading="lazy"
      alt="funzoHub" />
  </div>
</div>

<section class="px-4 text-center">
  <h1 class="display-5">Testimonials</h1>
</section>

<div class="container">
  <section class="my-5 d-grid gap-2 d-sm-flex justify-content-sm-center">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon bg-info shadow-1-strong">
            <i class="fa fa-quote-left text-white"></i>
          </div>
          <p class="mb-0 mt-2 lead">
            "I've taken several courses on funzoHub and I've been very impressed
            with the quality of the instruction. The instructors are experts in
            their field and they know how to make the material engaging and
            relevant. I would definitely recommend funzoHub to anyone who is
            looking for an online learning experience."
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Precious Haki
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon bg-info shadow-1-strong">
            <i class="fa fa-quote-left text-white"></i>
          </div>
          <p class="mb-0 mt-2 lead">
            "I was a little hesitant to try online learning at first, but I'm so
            glad I did. The courses on funzoHub are so well-designed and the
            instructors are so helpful. I've learned so much and I'm confident
            that I'll be able to use my new skills in my career."
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Alexander the Great
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon bg-info shadow-1-strong">
            <i class="fa fa-quote-left text-white"></i>
          </div>
          <p class="mb-0 mt-2 lead">
            ""I was looking for a way to learn a new skill without having to
            commit to a traditional classroom setting. I found funzoHub and I'm
            so glad I did. The courses are well-organized and easy to follow,
            and the instructors are always available to answer my questions."
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Florence Ochukwe
          </footer>
        </blockquote>
      </div>
    </div>
  </section>
</div>

<section class="px-4 text-center">
  <h1 class="display-5">Meet our Team</h1>
</section>

<div class="container">
  <section class="my-5 d-grid gap-2 d-sm-flex justify-content-sm-center">
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="/img/joab.jpeg" class="rounded-circle img-fluid" width="149" height="149" 
          alt="woman avatar" />
      </div>
      <div class="card-body text-center">
        <h4 class="card-title lead">Joab O. Nyamagiri</h4>
        <hr />
        <p class="lead">CO-Founder & CEO</p>
        <p>
          <i class="fas fa-quote-left"></i> Joab runs the day-to-day operations at funzoHub, which includes product development and global sales. He's passionate about people, sports, and making sure things run smoothly.
        </p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="/img/daniel.jpeg" class="rounded-circle img-fluid" width="149" height="149" 
          alt="woman avatar" />
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Daniel C. Nwakacha</h4>
        <hr />
        <p class="lead">Chief Technology Officer</p>
        <p>
          <i class="fas fa-quote-left"></i> As the fearless leader of our engineering team, Daniel is responsible for funzoHub's underlying technology. He has a passion for data acquisition and backend architecture and infrastructure.
        </p>
      </div>
    </div>
  </section>
</div>