<h1>Help Us Make a Difference</h1>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">Your support allows us to continue our mission of empowering individuals worldwide</h2>
        <p class="lead">
            Thank you for considering a donation to our learning website.When you donate to our platform, you contribute to the growth and development of our learning community.
        </p>

    </div>
    <div class="col-12 col-lg-6">
        <img src="/img/community.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid rounded" loading="lazy" alt="funzoHub">
    </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/donate.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid rounded" loading="lazy" alt="funzoHub">
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">How to make a donation</h2>
        <p class="lead">
            Follow these easy steps:
        </p>
        <ol class="lead">
            <li>Please follow the link 'Donate' below to make your secure donation.</li>
            <li>Enter your payment details.</li>
            <li>You can make a monthly or one-off donation of between $10 - 1,000.</li>
        </ol>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="https://donate.stripe.com/test_dR65kx6SdczSdIk288" class="btn btn-primary btn-lg px-4 me-md-2">Donate</a>
        </div>
    </div>
    
</div>
